<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <img class="logo_f" src="../../assets/img/new-logo.png" alt="">
            </a>
            <h4>Follow Me</h4>
          </div>
          <div class="footer_social">
            <a href="http://facebook.com/mtwn1051"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/mtwn105/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/mtwn105"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        Copyright &copy; {{year}} All rights reserved</p>
    </div>
  </div>
</footer>
