.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh-5rem);
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 150px;
}

.experience__work {
  &__start,
  &__end {
    color: $gold;
  }
  &__end {
    text-align: end;
  }
  &__name {
    font-size: 6rem;
    font-weight: 700;
  }
}

.experience__tech {
  max-width: 18.75rem;
  &__end {
    text-align: end;
  }
}
