<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>My creations </h2>
          <p>
            These are all my creations. These apps are meant to make people life easier.
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item" (click)="goToLink('https://play.google.com/store/apps/details?id=com.pdfme')">
          <img class="project-logos" src="../../assets/img/project-logos/pdfme.png" alt="" />
          <h4>PDF Me</h4>
          <p>Android App to convert webapge into PDF.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img class="project-logos" src="../../assets/img/project-logos/alexa.png"
            (click)="goToLink('https://play.google.com/store/apps/details?id=com.thetechstellar.alexarankchecker')"
            alt="" />
          <h4>Alexa Rank Checker</h4>
          <p>Android App to check alexa rank of your website.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="feature_item" (click)="goToLink('https://github.com/mtwn105/Cipherly')">
          <img class="project-logos" src="../../assets/img/project-logos/cipherly.png" alt="" />
          <h4>Cipherly</h4>
          <p>Open source <b>Flutter App</b> that allows to save passwords securely.</p>
        </div>
      </div>
    </div>
    <div class="row feature_inner justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item" (click)="goToLink('https://www.clinix.amitwani.dev')">
          <img class="project-logos" src="../../assets/img/project-logos/clinix.png" alt="" />
          <h4>Clinix</h4>
          <p>A Diagnostic Medicare Management System. Created using <b>Angular</b> & <b>Spring Boot</b></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item" (click)="goToLink('https://www.memer.amitwani.dev')">
          <img class="project-logos" src="../../assets/img/services/s2.png" alt="" />
          <h4>Memer</h4>
          <p>Get Creative by creating memes choosing from 100+ templates or add your own custom one. Created using
            <b>Angular</b> & <b>Imgflip API</b></p>
        </div>
      </div>

    </div>
  </div>
</section>
