<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="../../assets/img/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>let’s <br>
            Introduce<br>
            myself</h2>
          <p>
            I am an intermediate Software Developer with developing apps since 2015 and I will do it forever. <b>It's my
                passion!</b>


          </p>
          <p>
            I just love Tech. Everything that has tech excites me. It is so amazing to find those innovations in tech
            today!
          </p>
          <p> I love Sports especially Cricket and Football which teaches me passion about the game and Team Work.
          </p>
          <p> I click some nature pictures too which gives me satisfaction and peace.!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
