<section class="about_area section_gap">
    <div class="container">
        <div class="col-lg-12">
            <div class="main_title text-left">
                <h2>my <br>
                    skills </h2>
            </div>
        </div>
      <div class="row justify-content-start align-items-center p-4">
        <a href="javascript:void(0)" class="genric-btn info-border circle m-2">C/C++</a>
        <a href="javascript:void(0)" class="genric-btn primary-border circle m-2">Java</a>
        <a href="javascript:void(0)" class="genric-btn success-border circle m-2">Typescript</a>
        <a href="javascript:void(0)" class="genric-btn primary-border circle m-2">Angular</a>
        <a href="javascript:void(0)" class="genric-btn info-border circle m-2">HTML</a>
        <a href="javascript:void(0)" class="genric-btn primary-border circle m-2">CSS</a>
        <a href="javascript:void(0)" class="genric-btn success-border circle m-2">Flutter</a>
        <a href="javascript:void(0)" class="genric-btn danger-border circle m-2">Dart</a>
        <a href="javascript:void(0)" class="genric-btn primary-border circle m-2">Android</a>
        <a href="javascript:void(0)" class="genric-btn danger-border  circle m-2">Spring Boot</a>
        <a href="javascript:void(0)" class="genric-btn primary-border circle m-2">Spring Data</a>
        <a href="javascript:void(0)" class="genric-btn info-border circle m-2">REST APIs</a>

    </div>
    </div>
  </section>
  

